<section id="newsByCatagory">
    <div class="comtainer-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 my-2 my-md-3"><h2 class="text-right"><b>@ViewBag.Category</b></h2></div>
                <div class="col-12 my-2">
                    <h3 class="my-1 py-1 border-bottom border-dark"><b>01 Yanvar 2019</b></h3>
                    <div class="col-12">
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-2">
                    <h3 class="my-1 py-1 border-bottom border-dark"><b>01 Yanvar 2019</b></h3>
                    <div class="col-12">
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="row py-2 border-bottom">
                            <div class="d-none d-sm-block col-sm-3 col-md-2 px-0">
                                <a href=""><img class="w-100" src="~/Public/img/600x400.jpg" alt=""></a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 col-lg-8">
                                <a href="">
                                    <p class="line-clamp">
                                        <span class="text-secondary">15:20</span>
                                        <b>
                                            Azərbaycanda Qurban bayramı ilə əlaqədar satış və kəsim yerlərində dezinfeksiya pulsuz olacaq
                                        </b>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-3">
                    <nav>
                        <ul class="pagination justify-content-center ">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item "><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>
