@using _56_Xeber.Resources
<div class="d-none d-md-block col-md-6 col-lg-4 lastNews">
    <div class="row">
        <div class="col-12">
            <h3>@Resource.NewsLent</h3>
        </div>
        <div class="col-12">
            <ul>
                <li>
                    <img class="" src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp">Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
                <li>
                    <img src="~/Public/img/1200x800.jpg" alt="">
                    <a href="">
                        <p class="line-clamp"> Elmar Məmmədyarov: "Azərbaycan Xəzərdə iqtisadi əməkdaşlığın artırılmasında maraqlıdır"</p>
                        <span>01 Yanvar 2019</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <a href=""><h5>@Resource.AllNews</h5></a>
        </div>
    </div>
</div>
