
@{
    Layout = null;
}
@{
    ViewBag.Title = "Error Page";
}

<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")

</head>
<body>
    <section class="bg-dark">
        <div class="container-fluid">
            <div class="container">
                <div class="row vh-100 justify-content-center align-content-center">
                    <div class="col-10 col-sm-6 col-md-5 col-lg-4  bg-light py-2 rounded shadow">
                        <h1 class="text-danger d-block text-center">bir bir</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>