

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
</head>
<body>

    <main>

        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery&bootstrap")
    <script src="~/Public/js/bs-custom-file-input.min.js"></script>
    <script src="~/Public/js/inputscript.js"></script>
</body>
</html>
